
.data-mapping-panel .color, .data-mapping-panel .mapper-title {
  text-align: left;
}

.data-mapping-panel .color-title {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  text-shadow: none;
}

.data-mapping-panel .show-hide {
  float: right;
}