footer .copyright
   color White
   font-size x-small

footer .copyright td
   color #FFFF
   font-size x-small
   
footer .copyright a:link
   color #FFFFFF
   text-decoration underline

footer .copyright a:visited
   color #FFFFFF
   text-decoration underline

footer .copyright a:hover
   color Red
   text-decoration underline
