.management-page {
  width: 100%;
  padding-top: 30px;
}

.management-page .panel.panel-default {
  background: #ffffff;
  padding: 0px;
  border: 1px solid black;
  height: 700px;
  overflow: auto;
}

.management-page .panel.panel-default .table {
  border: 1px solid #A9A9A9;
}

.management-page .nav-bar {
  text-align: center;
}

.management-page .nav-bar button{
  width: 300px;
}

.management-page .management-view {
  font-size: 13px;
  width: 900px;
  margin: 20px auto;
}

.management-page .management-view .management-view-bottom{
  height: 10px;
  width: 100%;
}

.management-page .management-view table thead {
  background-color: #999999;
  color: white;
}
.management-page .management-view table thead th {
  text-align: center;
}

.management-page .management-view table tbody tr {
  background-color: #999999;
  color: black;
  font-weight: bold;
}

.management-page .management-view table tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.management-page .management-view table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.management-page .management-table-active {
  color: #FFF;
  background-color: #62686D;
  border-color: #1F99FF;
}

.management-page .button-add-user {
  border-radius: 0px;
  margin-left: 10px;
  margin-top: 17px;
}

.user-add-dialog, 
.user-add-dialog table {
  background-color: #999999;
  color: black;
}

.user-add-dialog td:first-child {
  width: 100px;
}

.user-add-dialog .user-add-idandpass {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.user-add-dialog .user-add-idandpass span {
  width: 100px;
  display: inline-block;
}

.user-add-dialog .btn {
  width: 100px;
  border: none;
}

.user-add-dialog .btn-container {
  text-align: center;
  margin: 10px;
}
