//http://www.denisbouquet.com/how-to-use-font-awesome-icons-in-css/
.aside-container .aside-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 3px 2px;
  }

.aside-container .aside-button:not([disabled]) i:hover {
    cursor pointer
    color Chocolate
  }

.aside-container .aside-button:disabled {
    color: #555
}

