/*
    Document   : PieChart
    Created on : Jun 2, 2014, 5:57:52 PM
    Author     : vuongnd
    Description:
    Purpose of the stylesheet follows.
*/
.piechart #legend_more_pie_chart {
  background-color: white;
  float: left;
  height: 125px;
  position: absolute;
  right: 19%;
  top: 30px;
  width: 88px;
}
.piechart .bar {
  fill: #98abc5; 
}
.piechart .bar:hover {
  fill: brown;
}

.piechart .axis path,
.piechart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.piechart .x.axis path {
  display: none;
}

.hideme{
    fill:  #666 !important;
    opacity: 0.6 !important;
}

.piechart #span_change_axis_pie_chart {
  float: right;
  position: absolute;
  margin-top: 180px;
  left: 13%;
  color: black;
}
.piechart #span_total_pie_chart {
  left: 13%;
  float: right;
  position: absolute;
  margin-top: 210px;
  color: black;
}
.piechart .rect_legend_pie_chart {
  fill-opacity: 1;
}
.piechart #control_panel_pie_chart {
  background-color: whitesmoke;
  border: 1px none gray;
  box-shadow: 0 3px 3px 2px #888;
  color: gray;
  height: 334px;
  left: -12%;
  margin-top: 65px;
  position: absolute;
  top: 115px;
  width: 135px;
}
.piechart #control_pie_chart {
  float: right;
  height: 80px;
  overflow: auto;
  position: absolute;
  right: 31%;
  top: 165px;
  width: 78px;
  color: black;
}
.piechart #change_color_pie_chart {
  float: left;
  position: absolute;
  top: 275px;
  width: 76px;
}
.piechart #pick_color_pie_chart {
  left: 80px;
  position: absolute;
  top: 273px;
  width: 43px;
}