<div class='head'>
  <div class="graph-guide">
    <p> * Hold Shift + Drag node to create link</p>
    <p> * Select node + Press Delete button to delete Node</p>
    <p> * Hold Shift + Click on Link to select link.Press delete selected link to delete this link</p>
  </div>
  <div class="button-container">
    <input type="button" class="event-save" name="save" value="Save"  title='編集内容を保存する'>
  </div>
  <hr style="margin-top:1; margin-bottom:1">
</div>
<div class="graph-container">
   <canvas></canvas>
</div>