<div class="panel panel-default management-access">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <%for (var key in authorities) {%>
        <th><%= authorities[key] %></th>
        <%}%>
      </tr>
    </thead>
    <tbody>
      <%for (var i = 0; i < permission.length; i++) {%>
      <tr>
        <td style="width: 150px"><%= permission[i].name %></td>
        <%for (var key in authorities) {%>
        <td style="text-align: center">
          <% if (permission[i].authorities.indexOf(parseInt(key)) !== -1) {%>
          <input type="checkbox" checked>
          <%} else {%>
          <input type="checkbox">
          <%}%>
        </td>
        <%}%>
      </tr>
      <%}%>
    </tbody>
  </table>

  <div class="management-view-bottom"></div>

</div>