<div class="container" >
  <label>timout MAXIMUM to get data: </label>
  <select name="timeout" class="forma" style="color:#333">
        <option value=0 selected>設定なし</option>
        <option value=3000>3秒</option>
        <option value=10000>10秒</option>
        <option value=50000>50秒</option>
        <option value=600000>1分</option>
        <option value=300000>5分</option>
        <option value=3600000>１時間</option>
  </select>
  <br>
  <label>periodic INTERVAL to refresh: </label>
  <select name="interval" class="forma" style="color:#333">
       <option value=0 selected>設定なし</option>
       <option value=1000>1秒</option>
       <option value=3000>3秒</option>
       <option value=10000>10秒</option>
       <option value=60000>1分</option>
       <option value=600000>１0分</option>
       <option value=3600000>1時間</option>
       <option value=36000000>10時間</option>
       <option value=86400000>1日</option>
  </select>
</div>