<div class="aside-container">
    <button class="aside-button event-undo"  title='レイアウトを元に戻す' disabled>
      <i class="fa fa-undo"></i>
    </button>

    <button class="aside-button event-redo"  title='レイアウトをやり直す' disabled>
        <i class="fa fa-repeat"></i>
    </button>
    
    <button class="aside-button event-new-screen"  title='新規スクリーンを作成する'>
      <i class="fa fa-pencil-square-o"></i>
    </button>

    <button class='aside-button event-custom-screen' title='スクリーン設定'>
      <i class="fa fa-cog"></i>
    </button>
   
    <button class="aside-button event-capture-image" title='スクリーン画像をキャップチャーする'>
      <i class="fa fa-camera"></i>
    </button>
    
    <button class="aside-button event-clip"  title='スクリーンをコピーする'>
      <i class="fa fa-files-o" ></i>
    </button>
    
    <button class='aside-button event-bookmark' title='スクリーンをタグ付ける/共有する'>
       <i class="fa fa-share-alt-square" ></i>
    </button>
    <button class ='aside-button event-clear-filter' title='チャート絞込み条件クリア'>
      <i class="fa fa-eraser"></i>
    </button>
    <!--button class="aside-button event-fit2window"  title='(スクリーン画像を生成する前に)スクリーンをウィンドサイズにあわせる' style="align: center;">
      <i class='fa fa-arrows'></i>
    </button -->
    <label class ='aside-label' title='レスポンシブ・デザイン'style="margin-left: 8px;">
      <input type="checkbox" name="responsive" checked="checked" style="transform:scale(1.5)">
    </label>
    
</div>
